@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";



@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-poppins: 'Poppins', sans-serif;
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

/* Wajib */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

/* batasi ukuran popup */
.leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 10px;
}

/* batasi ukuran maksimal */
.custom-popup .leaflet-popup-content {
  margin: 0 !important;
  width: 200px;     /* ubah ukuran sesukamu */
  padding: 0 !important;
}

/* hilangkan efek default */
.leaflet-popup-tip {
  display: none !important;
}


